@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Vithkuqi&family=Raleway:wght@300&display=swap');

* {
  margin: 0;
  border: 0;
}

header {
  background-color: #161517;
  width: 100%;
  height: 100px;
  box-shadow: -4px 4px 25px #8131b0d0;
}

h1 {
  color: #8000ff;
  padding: 25px 0;
  font-size: 35px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  text-shadow: -4px 4px 25px #8131b0d0
}

h2 {
  color: #8000ff;
  text-align: center;
  margin-top: 250px;
  text-shadow: -4px 4px 25px #8131b0d0;
}

p {
  color: #8000ff;
  text-align: center;
  text-shadow: -4px 4px 25px #8131b0d0;
}

.closeButton,
#closeSidebar {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
}

.closeButton::before,
.closeButton::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 20px;
  background-color: #8000ff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.closeButton::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.closeButton::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #161517;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  text-align: center;
  box-shadow: 5px 5px 25px #0000007a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
    color: rgb(255, 255, 255);
}

#openSidebar {
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 30px;
  margin-right: 30px;
  background-color: #8000ff;
  border: none;
  border-radius: 50%;
  padding: 15px;
  box-shadow: -4px 4px 25px #8131b0d0;
  display: none;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.profile {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  box-shadow: -4px 4px 25px #8131b0d0;
}

#linkedin img {
  max-width: 45px;
}

#x img {
  max-width: 25px;
}

footer {
  background-color: #000000;
  color: #8131b0;
  padding: 20px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

@media only screen and (min-width: 350px) and (max-width: 750px) {
  #openSidebar {
    display: block; /* Display the button for screen widths between 350px and 750px */
  }
}

@media only screen and (min-width: 750px) {
  #openSidebar {
    display: none; /* Hide the button for screen widths greater than 750px */
  }
}